<html>
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename = 'bp.js') }}"></script>

        <style>
            img {
                width: 100%;
            }

            .border {
                border-style: dotted;
            }

            .center {
                margin: auto;
                text-align: center;
            }

            .spaced {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .content {
                display:none;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 center">
                    <div class="row spaced">
                        <div class="col-md-3">
                            <img class="border" src="../static/images/ㅂ.png">
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <audio id="ㅂ_sound" src="../static/audio/temp.mp4" preload="auto"></audio>
                                <span>
                                    Lax bilabial stop
                                    <button id="ㅂ_button">Play sound</button>
                                </span>
                                <span>"between an English p and b sound"</span>
                            </div>
                            <div class="row">
                                <!-- see examples -->
                            </div>
                        </div>
                    </div>
                    <div class="row spaced">
                        <div class="col-md-3">
                            <img class="border" src="../static/images/ㅃ.png">
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <audio id="ㅃ_sound" src="../static/audio/temp.mp4" preload="auto"></audio>
                                <span>
                                    Tense bilabial stop
                                    <button id="ㅃ_button">Play sound</button>
                                </span>
                                <span>"like a solid English b sound"</span>
                            </div>
                            <div class="row">
                                <!-- see examples -->
                            </div>
                        </div>
                    </div>
                    <div class="row spaced">
                        <div class="col-md-3">
                            <img class="border" src="../static/images/ㅍ.png">
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <audio id="ㅍ_sound" src="../static/audio/temp.mp4" preload="auto"></audio>
                                <span>
                                    Aspirated bilabial stop
                                    <button id="ㅍ_button">Play sound</button>
                                </span>
                                <span>"like an English p sound with a puff of air"</span>
                            </div>
                            <div class="row">
                                <div id="collapsible">
                                    <div>See examples</div>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="border" src="../static/images/포.png">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <audio id="포_sound" src="../static/audio/temp.mp4" preload="auto"></audio>
                                                    <span>
                                                        "p'o"
                                                        <button id="포_button">Play sound</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="border" src="../static/images/편.png">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <audio id="편_sound" src="../static/audio/temp.mp4" preload="auto"></audio>
                                                    <span>
                                                        "p'yon"
                                                        <button id="편_button">Play sound</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <img class="border" src="../static/images/파.png">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <audio id="파_sound" src="../static/audio/temp.mp4" preload="auto"></audio>
                                                    <span>
                                                        "p'a"
                                                        <button id="파_button">Play sound</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 center">
                    <button id="quiz">I'm ready to test my progress!</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button id="home">Main Menu</button>
                </div>
            </div>
        </div>
    </body>
</html>

