<html>
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename = 'bp_quiz.js') }}"></script>
        <style>

        </style>
    </head>
    <body>
        <div id="quiz"></div>
        <button id="submit">Submit</button>
        <div id="results"></div>
        <button id="back">Back</button>
    </body>
</html>



