<html>
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
        
        <script>
            var quiz = {{data|tojson}}
        </script>
        
        <style>
            label {
                font-size: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .play-button {
                background: none;
                border-radius: 20px;
                margin-left: 10px;
                margin-right: 13px;
                padding: 5px;
                vertical-align: bottom;
            }

            .play-button:focus {
                outline: none;
            }

            .play-button:hover {
                background-color: silver;
            }

            .spaced-vert {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            #submit {
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar sticky-top navbar-light bg-light">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-left">
                <div id="title">

                </div>
            </div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#warningModalHome"><i class="material-icons">home</i></button>
            </div>
        </nav>
          
        <div class="modal fade" id="warningModalBack" tabindex="-1" role="dialog" aria-labelledby="warningModalBackLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="warningModalBackLabel">Leaving this page?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        As you return to the Review section, your selections on this quiz page will not be saved.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info" id="back">Proceed to Review</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="warningModalHome" tabindex="-1" role="dialog" aria-labelledby="warningModalHomeLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="warningModalHomeLabel">Leaving this page?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        As you return to the Main Menu, your selections on this quiz page will not be saved.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-info" id="home">Proceed to Main Menu</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-2 text-right spaced-vert">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#warningModalBack"><  Back to Review</button>
                </div>
                <div class="col-md-8 text-center spaced-vert">
                    Select the consonant that you hear in each question.
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" id="quiz">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-secondary" id="submit">Submit</button>
                </div>
            </div>
        </div>
    </body>
</html>



